<?xml version="1.0"?>
<!--
/**
 * Copyright © Software Research abd Development. All rights reserved.
 * See LICENSE_SOFTWARE_RESEARCH_AND_DEVELOPMENT.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="SoftwareResearchAndDevelopment_SplitConfigurable">
        <sequence>
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>
